body {
  background: #000000;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner-image {
  height: 125px;
  width: 455px;
}

hr {
  opacity: 0.1;
}

@media only screen and (max-width: 767px) {
  .banner-image {
    width: 100%;
  }
}